<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}" />

  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
  <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
</head>

<body class="bg-slate-50 dark:bg-slate-900">
  <header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full text-sm">
    <nav
      class="relative max-w-7xl w-full mx-auto bg-white border-b border-gray-200 py-3 px-4 sm:py-0 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:border-x dark:bg-gray-800 dark:border-gray-700"
      aria-label="Global">
      <div class="flex items-center justify-between h-16">
        <a class="flex-none text-xl font-semibold dark:text-white" href="#" aria-label="Brand">Book</a>
      </div>
    </nav>
  </header>

  <main id="content" role="main">
    <div
      class="max-w-7xl mx-auto min-h-screen bg-white border-x-gray-200 py-10 px-4 sm:px-6 lg:px-8 xl:border-x dark:bg-gray-800 dark:border-x-gray-700">
      <!-- Page Heading -->
      <header class="max-w-3xl">
        <p class="mb-2 text-sm font-semibold text-blue-600">{% block header %}{% endblock %}</p>
      </header>
      <!-- End Page Heading -->

      <div class="py-6">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
</body>

</html>
