{% extends "/_base.html" %}

{% block order_book %}
<div class="flex">
    <!-- Buy orders -->
    <div class="w-1/2">
        <h2 class="text-xl mb-2">Buy Orders</h2>
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="py-2 px-4 border">Price</th>
                    <th class="py-2 px-4 border">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for level in order_book.bids %}
                <tr id="bid-{{ level.price }}">
                    <td class="py-2 px-4 border bg-green-100">{{ level.price }}</td>
                    <td class="py-2 px-4 border bg-green-100">{{ level.size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Sell orders -->
    <div class="w-1/2 ml-4">
        <h2 class="text-xl mb-2">Sell Orders</h2>
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="py-2 px-4 border">Price</th>
                    <th class="py-2 px-4 border">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for level in order_book.asks %}
                <tr id="ask-{{ level.price }}">
                    <td class="py-2 px-4 border bg-red-100">{{ level.price }}</td>
                    <td class="py-2 px-4 border bg-red-100">{{ level.size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% macro placeholder() -%}
<div class="ml-4 pr-4 my-2 w-full animate-pulse">
    <h3 class="h-4 bg-gray-400 rounded-md dark:bg-gray-700" style="width: 40%;"></h3>
    <ul class="mt-5 space-y-3">
        {% for i in range(10) %}
        <li class="w-full h-4 bg-gray-400 rounded-md dark:bg-gray-700"></li>
        {% endfor %}
    </ul>
</div>
{%- endmacro %}

{% block header %}
Binance Order Book :: Symbol: {{ symbol }}
{% endblock %}

{% block content %}
<div hx-ext="sse,morph" sse-connect="/stream" sse-swap="message" hx-swap="morph:innerHTML">
    <div class="flex">
        <div class="w-1/2">
            <h2 class="text-xl mb-2">Buy Orders</h2>
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border">Price</th>
                        <th class="py-2 px-4 border">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 px-4 border bg-green-100" colspan="2">
                            {{ placeholder() }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-1/2 ml-4">
            <h2 class="text-xl mb-2">Sell Orders</h2>
            <table class="min-w-full">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border">Price</th>
                        <th class="py-2 px-4 border">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-2 px-4 border bg-red-100" colspan="2">
                            {{ placeholder() }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
